@import "require: bootstrap/dist/css/bootstrap.css";
@import "require: bootstrap/dist/css/bootstrap-theme.css";
@import "require: bootstrap/less/mixins.less";
@import "require: bootstrap/less/variables.less";
@import "require: bootstrap/less/glyphicons.less";

@font-face {
    font-family: 'DOC-ICON';
    src:url('../../fonts/scaffold-docs-icons/scaffold-icons.eot?ixe4zi');
    src:url('../../fonts/scaffold-docs-icons/scaffold-icons.woff?ixe4zi') format('woff'),
        url('../../fonts/scaffold-docs-icons/scaffold-icons.eot?#iefixixe4zi') format('embedded-opentype'),
        url('../../fonts/scaffold-docs-icons/scaffold-icons.ttf?ixe4zi') format('truetype'),
        url('../../fonts/scaffold-docs-icons/scaffold-icons.svg?ixe4zi#lowes-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='doc-icon-'] {
    font-family: 'DOC-ICON';
    font-size: 1em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.doc-icon-desktop:before {
  content: "\e956";
}
.doc-icon-tablet:before {
  content: "\e95a";
}

html, body, .container, #wrapper, .main {
  height: 100%;
}
#wrapper {
  position: relative;
}
.main {
  overflow-y: auto;
}
.main, .content {
  position: relative;
}

.local-nav {
  display: none;
}

.selection-input-group label.btn.btn-block {
  display: inline-block;
  float: left;
  width: 50%;
}
.developer {
  display: none;
}

.nav-container {
	height: 100vh;
	width: 20%;
	position: fixed;
	z-index: 999;
}
.main-content {
	height: 100%;
  padding: 0 50px;
}
section {
  padding-bottom: 4em;
}

@theme-primary: #251F47;
@theme-secondary: #404E7C;
@theme-tertiary: #71B48D;
@theme-quaternary: #fff;
@theme-quarternary: #fff;

.background-primary {
  background: @theme-primary;
}
.background-secondary {
  background: @theme-secondary;
}
.background-tertiary {
  background: @theme-tertiary;
}
.clr-primary {
  color: @theme-primary;
}
.clr-secondary {
  color: @theme-secondary;
}
.clr-tertiary {
  color: @theme-tertiary;
}
/* Spacing Variable Sizes */
@vSpacingMini: 5px;
@vSpacingSmall: 10px;
@vSpacingMedium: 15px;
@vSpacingLarge: 20px;
@vSpacingExtraLarge: 25px;
@vSpacingJumbo: 40px;

/** Establish a Vertical Margin **/
.v-spacing {
    &-mini {
        margin-bottom: @vSpacingMini !important;
    }
    &-small {
        margin-bottom: @vSpacingSmall !important;
    }
    &-medium {
        margin-bottom: @vSpacingMedium !important;
    }
    &-large {
        margin-bottom: @vSpacingLarge !important;
    }
    &-extra-large {
        margin-bottom: @vSpacingExtraLarge !important;
    }
    &-jumbo {
        margin-bottom: @vSpacingJumbo !important;
    }
}
.list {
  list-style-position: outside;
  margin: 0;
  padding: 0;

    > li {
        line-height: 1.8rem;
        margin-left: 1em;
    }

    &.unstyled {
        list-style: none;
    }
    &-horizontal {

        .clearfix();

        > li {
            float: left;
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }
        }
      }
}
a:hover, a:active, a:focus {
  text-decoration: none;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
