.standard-box {
	border: 1px solid #999;
	height: 250px;
	width: 100%;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: flex;
  	flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	> div {
		margin: 10px 0;
	}
}