nav {
	box-shadow: inset -2px -1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: inset -2px -1px 5px 0 rgba(0,0,0,0.5);
	height: 100%;
	overflow-y: scroll;
	ul.list-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		&:focus {
			outline: none;
		}
		li {
			border: none;
			a {
				display: block;
				padding: 15px;
				position: relative;
				font-size: 14px;
				color: @theme-quaternary;
				&:after {
					// content: @icon-arrow-down;
					color: #fff;
					cursor: pointer;
					display: none;
					font-family: 'ICON';
    				font-size: small;
    				speak: none;
    				font-style: normal;
    				font-weight: normal;
    				font-variant: normal;
    				text-transform: none;
    				line-height: 1;
    				/* Better Font Rendering */
    				-webkit-font-smoothing: antialiased;
    				-moz-osx-font-smoothing: grayscale;
    				position: absolute;
    				top: 0;
    				right: 0;
    				padding: 15px 15px 15px 10px;

    				.rotate(0deg);
					.transition(transform 0.5s color 0.2s background 0.2s);
    			}
				&:hover, &:active, &:focus {
					background: darken(@theme-secondary, 5%);
					color: @theme-quaternary;
					text-decoration: none;
					cursor: pointer;
					&:after {
						color: @theme-quaternary;
					}
				}
			}
			ul {
				display: none;
				li a {
					color: @theme-quaternary;
					&:hover, &:focus, &:active {
						background: darken(#f2f2f2,5%);
						color: @theme-quaternary;
					}
					&:after {
						display: none !important;
					}
				}
			}
			&.has-children {
				a {
					color: @theme-quaternary;
					&:after {
						display: inline-block;
					}
				}
			}
			&.active {
				background: darken(@theme-secondary, 10%);
				a {
					color: @theme-quaternary;
					&:after {
						.rotate(-180deg);
						color: @theme-quaternary;
					}
					&:hover, &:active, &:focus {
						background: darken(@theme-secondary, 10%);
					}
				}
				ul {
					background: darken(@theme-secondary, 5%);
					// display: block;
					a {
						color: @theme-quaternary;
					}
				}
			}
		}
	}
}

