@pink: #EC008C;
@blue: #03A9F4;
@yellow: #FFD32F;
@orange: #FF8828;

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;
}
.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y); // IE9 only
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.spec-container {
    margin: 40px;

    &.has-reference {
        .specs {
            float: left;
            position: relative;
            width: 50%;
        }
    }
}
.specs {
    display: inline-block;
    position: relative;
    &.highlight {
        background: fade(@pink, 30%);
    }
}
.add-spec {
    display: inline-block;
    position: relative;
}
.spec {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 999;
    span {
        .border-radius(5px);
        display: inline-block;
        line-height: 1.2em;
        padding: 5px 8px;
        position: absolute;
        &:before {
            content: '';
            height: 0;
            width: 0;
            position: absolute;
        }
    }
    &.spec-width,
    &.spec-height{
        &:before, &:after {
            background: @pink;
            content: '';
            display: block;
            position: absolute;
        }
        span {
            background: @pink;
        }
    }
    &.spec-width {
        border-bottom: 1px solid @pink;
        left: 0;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        bottom: 100%;
        &:before, &:after {
            bottom: -5px;
            height: 9px;
            width: 1px;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
        span {
            left: 50%;
            top: -23px;
            .translate(-50%,0);
            &:before {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid @pink;
                bottom: -5px;
                left: 50%;
                .translate(-50%,0);
            }
        }
    }
    &.spec-height {
        border-right: 1px solid @pink;
        top: 0;
        left: 0;
        .translate(-10px,0);
        &:before, &:after {
            width: 9px;
            height: 1px;
            right: -5px;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        span {
            top: 50%;
            right: 100%;
            .translate(-8px,-50%);
            &:before {
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid @pink;
                left: 100%;
                top: 50%;
                .translate(0,-50%);
            }
        }
    }
    &.spec-padding-top,
    &.spec-padding-bottom,
    &.spec-padding-left,
    &.spec-padding-right {
        background: fade(@blue, 30%);
        span {
            background: @blue;
        }
    }
    &.spec-margin-top,
    &.spec-margin-bottom,
    &.spec-margin-left,
    &.spec-margin-right {
        // background: fade(@blue, 30%);
        border: 1px dashed @blue;
        span {
            background: @orange;
        }
    }
    &.spec-padding-top,
    &.spec-margin-top,
    &.spec-padding-bottom, 
    &.spec-margin-bottom {
        left: 0;
        width: 100%;
        span {
            top: 50%;
            left: 100%;
            .translate(0,-50%);
            margin-left: 10px;
            &:before {
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                top: 50%;
                left: -5px;
                .translate(0,-50%);
            }
        }
    }
    &.spec-padding-top,
    &.spec-padding-bottom {
        // border-right: 1px solid @blue;
        span:before {
            border-right: 5px solid @blue;
        }  
    }
    &.spec-margin-top,
    &.spec-margin-bottom {
        // border-right: 1px solid @orange;
        span:before {
            border-right: 5px solid @orange;
        }    
    }
    &.spec-padding-top,
    &.spec-margin-top {
        top: 0;
    }
    &.spec-padding-bottom,
    &.spec-margin-bottom {
        bottom: 0;
    }
    &.spec-padding-left,
    &.spec-margin-left,
    &.spec-padding-right,
    &.spec-margin-right {
        height: 100%;
        top: 0;
        span {
            top: 100%;
            left: 50%;
            .translate(-50%, 8px);
            &:before {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                top: 0;
                left: 50%;
                .translate(-50%,-100%);
            }
        }
    }
    &.spec-padding-left,
    &.spec-padding-right {
        // border-bottom: 1px solid @blue;
        span:before {
            border-bottom: 5px solid @blue;
        }
    }
    &.spec-margin-left,
    &.spec-margin-right {
        // border-bottom: 1px solid @orange;
        span:before {
            border-bottom: 5px solid @orange;
        }
    }
    &.spec-padding-left,
    &.spec-margin-right {
        left: 0;
    }
    &.spec-padding-right,
    &.spec-margin-right {
        right: 0;
    }
}
.spec-refnum, .spec-ref:before {
    background: @yellow;
    border-radius: 100%;
    color: #000;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    height: 25px;
    width: 25px;
}
.spec-refnum {
    position: absolute;
    top: 0;
    left: 0;
    .translate(-50%,-50%);
    z-index: 9999;
}
.spec-ref {
    position: relative;
    &:before {
        content: attr(data-refnum);
        display: inline-block;
        position: absolute;
        top: 0;
        left: -30px;
    }
    h5 {
        line-height: 25px;
        margin-bottom: 0;
    }
}