@import "require: one-light-syntax/index.less";

pre.editor {
	overflow-x: scroll;
}
pre.editor.editor-colors {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    overflow: auto; //If a line of code exceeds the width, scroll it.
}

