.desktop {
	.mobile-example, .tablet-example {
		display: none;
	}
	.desktop-example {
		display: block;
	}
}
.tablet {
	.mobile-example, .desktop-example {
		display: none;
	}
	.tablet-example {
		display: block;
	}
}
.mobile {
	.tablet-example, .desktop-example {
		display: none;
	}
	.mobile-example {
		display: block;
	}
}